// buttons
.btn{
    border: none;
    border-radius: 4px;
    transition: all 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.btn-green { 
    background-color: $green; 
    color: #ffffff!important;
}
// .btn-primary, .btn-secondary, .btn-tertiary, .btn-invert-primary{
// }
.btn-primary{
    background-color: #45BF7C;
    color: white !important;
    &:hover, &:focus, &:active{
        background-color: #339a62 !important;
    }
}
.btn-outline-primary{
    border: 1px solid $green;
    background-color: #fff;
    color: $green;

    &:hover, &:focus, &:active{
        background-color: $green;
        color: #fff;
    }
}
.btn-secondary{
    background-color: #80B340;
    color: white !important;
    &:hover, &:focus, &:active{
        background-color: #669032 !important;
    }
}
.btn-invert-primary{
    background-color: #FFFFFF;
    border: 1px solid #45BF7C;
    color: #45BF7C !important;
    &:hover, &:focus, &:active{
        background-color: #eeeeee !important;
    }
}

.btn-login{
    padding: 9px 30px;
    font-size: 13px;
    line-height: 18px;
}
.cta-button{
    padding: 12px 30px;
    cursor: pointer;
    &.wider{
        padding: 12px 46px;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.circle-button{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    font-size: 14px;
    width: 36px;
    height: 36px;
    border-radius: 40px;
    cursor: pointer;
}

.btn-md{
    padding: 12px 40px;
    border-radius: 4px;
}